<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Nosifer&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Crowdfunding Posts</title>
 
    <style>
      .blogGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px;
        margin: 20px;
      }
  
      .blogData {
        border-radius: 10px;
        padding: 20px;
        border: 2px solid #4B5B4C;
      }
  
      .pay-button {
        display: inline-block;
        background-color: #9EB09F;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        font-size: 16px;
        margin-top: 10px;
        cursor: pointer;
      }
  
      .pay-button:hover {
        background-color: #4B5B4C;
      }
      .add-post-button {
  display: inline-block;
  background-color: #4B5B4C;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.add-post-button:hover {
  background-color: #9EB09F;
}
    </style>
  </head>
  
  <body class="blog">
    <%- include('nav') %>

   
    <main>
      <div class="container"> 
        <h1>All Crowdfunding Posts</h1>
        <a href="/add-crowdfunding" class="add-post-button">Add New Post</a>
        <section>
          <div class="blogGrid">
                      
            <% crowdfundingPosts.forEach(function(crowdfundingPost) { %>

              <div class="blogData">
                <table>
                  <tr>
                    <th>Category: </th>
                    <td><%= crowdfundingPost.crowdfundingType %></td>
                  </tr>
                  <tr>
                    <th>Name: </th>
                    <td><%= crowdfundingPost.Name %></td>
                  </tr>
                  <tr>
                    <th>Email: </th>
                    <td><%= crowdfundingPost.Email %></td>
                  </tr>
                  <tr>
                    <th>Description: </th>
                    <td><%- crowdfundingPost.Description %></td>
                  </tr>
                  <tr>
                    <th>Image: </th>
                    <td><img src="<%= crowdfundingPost.ImagePath %>" alt="No image found" height="200"></td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <a href="/payment?blogid=<%= crowdfundingPost._id %>" class="pay-button">Pay Now</a>
                    </td>
                  </tr>
                </table>
              </div>
            <% }) %>
          </div>
        </section>
      </div> 
    </main>
    <%- include('footer') %>

  </body>
</html>
