<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Successful</title>
</head>
<body>
    <%- include('nav') %>

    <h1>Payment Successful</h1>
    <p>Thank you for your payment. Your transaction was successful.</p>

    <!-- Display Payment Details -->
    <p>Amount Paid: $<%= amount %></p>
    <p>Cardholder Name: <%= cardHolderName %></p>
    <p>Email: <%= email %></p>
    <p>Country: <%= country %></p>
    <p>Postal Code: <%= postalCode %></p></body>
    
    <%- include('footer') %>
</html>
